@import "tailwindcss";

:root{
  --brand-red:#890a00;
  --brand-yellow:#f1b400;
  --bg:#f7f7f7;
  --muted:#6b6b6b;
  --card:#ffffff;
  --shadow: 0 6px 18px rgba(15,15,15,0.08);
  --radius:12px;
  --gap:24px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin:0;
  background:linear-gradient(#fafafa,#f3f3f3);
  color:#222;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
